@font-face {
  font-family: "Helios";
  src: url("/assets/HeliosExtC_Regular.otf");
}
@font-face {
  font-family: "Helios Bold";
  src: url("/assets/HeliosExtC_Bold.otf");
}
* {
  font-family: "Jura", sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background: #000;
}

body {
  position: relative;
  font-size: 2rem;
  font-family: "Jura", sans-serif;
  color: #fff;
}

section:not(:last-child) {
  margin-bottom: 28rem;
}

#noise_effect {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: black;
  background-image: url("/assets/Noise.png");
  opacity: 3%;
}

#logo a, #bottom_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
#logo a > div, #bottom_logo > div {
  margin-bottom: -4px;
  margin-left: 0.5rem;
  font-family: "Helios";
}
#logo a img, #bottom_logo img {
  width: 22px;
  height: 22px;
}

#bottom_logo {
  font-size: 5rem;
}
#bottom_logo img {
  width: 50px;
  height: 50px;
}

ul {
  margin: 0;
  padding: 0;
}
ul.list {
  margin: 2rem 0 0 1rem;
  list-style: "- ";
}
ul.list li + li {
  margin-top: 1rem;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #02FFCF;
  cursor: pointer;
}

.bg {
  position: absolute;
  z-index: -1;
  border-radius: 50%;
}
.bg.bgbd {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  background: rgb(0, 0, 0);
}
.bg.bgf {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.4);
}

header {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
header .bg.bgl {
  top: -34.4444444444vh;
  left: -12.2395833333vw;
  width: 79.21875vw;
  height: 169vh;
  background: rgba(0, 139, 170, 0.14);
}
header .bg.bgc {
  top: 26.4444444444vh;
  left: 47.0833333333vw;
  width: 28.0729166667vw;
  height: 59.8888888889vh;
  background: #00AA81;
  filter: blur(12.7604166667vw);
}
header .bg.bgt {
  top: -19.6666666667vh;
  left: 18.125vw;
  width: 91.25vw;
  height: 65.8888888889vh;
  background: rgba(0, 170, 150, 0.8);
  filter: blur(12.7604166667vw);
}
header .bg.bgbr {
  top: 46.3333333333vh;
  left: 65.2604166667vw;
  width: 57.4479166667vw;
  height: 122.5555555556vh;
  background: rgba(5, 124, 132, 0.7);
  filter: blur(11.9791666667vw);
}

nav {
  margin: 2rem 28rem 0 28rem;
  padding-bottom: 2.2rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.23);
}
nav ul {
  display: flex;
  gap: 4rem;
  list-style: none;
}
nav ul li {
  display: flex;
  align-items: center;
}
nav ul li a {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
}
nav ul li:first-child, nav ul li:last-child {
  flex: 1;
}
nav ul li:first-child {
  text-align: left;
}
nav ul li:last-child {
  justify-content: flex-end;
}

#resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 50%;
}
#resume h1 {
  margin: 0;
  font-size: 10rem;
  font-family: "Helios Bold";
}
#resume p {
  margin: 2.2rem 10% 0 10%;
  text-align: center;
}

#github {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  padding: 1rem 4.5rem;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 50px;
  background: black;
}
#github span {
  margin-bottom: -3px;
  font-family: "Helios Bold";
}
#github img {
  margin-right: 0.5rem;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
}
main::before, main::after {
  position: absolute;
  z-index: -2;
  width: 100%;
  content: "";
  background-repeat: no-repeat;
}
main::before {
  top: 0;
  right: 0;
  height: 100%;
  background-image: url("/assets/CircuitHaut.svg");
  background-position: 100% -110rem;
}
main::after {
  bottom: -5.5rem;
  left: 0;
  height: 100rem;
  background-image: url("/assets/CircuitBas.svg");
}

h2 {
  font-size: 5rem;
  font-family: "Helios Bold";
}

#objectives h2 {
  padding-bottom: 2.5rem;
  width: 100%;
  border-bottom: 2px solid #fff;
}
#objectives > div {
  display: flex;
  gap: 6rem;
}
#objectives > div > div {
  flex: 1;
}
#objectives > div ol li + li {
  margin-top: 1rem;
}

h3 {
  font-family: "Helios Bold";
  color: #02FFCF;
  text-transform: uppercase;
}

#network, #client_protocol {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  padding: 11rem;
}
#network h2, #client_protocol h2 {
  width: 30%;
}
#network .angle, #client_protocol .angle {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #02FFCF;
}
#network .angle.tl, #client_protocol .angle.tl {
  top: 0;
  left: 0;
  border-right: 0;
  border-bottom: 0;
}
#network .angle.tr, #client_protocol .angle.tr {
  top: 0;
  right: 0;
  border-left: 0;
  border-bottom: 0;
}
#network .angle.bl, #client_protocol .angle.bl {
  bottom: 0;
  left: 0;
  border-top: 0;
  border-right: 0;
}
#network .angle.br, #client_protocol .angle.br {
  right: 0;
  bottom: 0;
  border-top: 0;
  border-left: 0;
}

#network_container {
  position: relative;
}
#network_container::before {
  position: absolute;
  top: -25%;
  left: -10%;
  width: 64.1265625vw;
  height: 724.17px;
  content: "";
  border-radius: 50%;
  background: rgba(0, 170, 150, 0.2);
  filter: blur(95px);
  transform: rotate(20.59deg);
}

#network .bgbl {
  top: 84px;
  left: -458px;
  width: 815px;
  height: 815px;
  background: rgba(2, 255, 207, 0.6);
  filter: blur(225px);
}
#network .bgtr {
  top: -107.4626865672%;
  left: 15.71796875%;
  width: 132.5%;
  height: 146.1407249467%;
  background: rgba(2, 255, 207, 0.1);
  filter: blur(165px);
  transform: rotate(29.74deg);
}
#network ul {
  list-style: none;
}
#network ul li + li {
  margin-top: 1rem;
}
#network li span {
  color: #02FFCF;
}

#roadmap h2 {
  text-align: center;
}

#timeline {
  display: flex;
  flex-direction: column;
}
#timeline .top, #timeline .circles, #timeline .bottom {
  display: flex;
}
#timeline .top > div, #timeline .circles > div, #timeline .bottom > div {
  flex: 1;
  padding: 1rem;
  text-align: center;
}
#timeline .top, #timeline .bottom {
  font-size: 1.5rem;
}
#timeline .top > div > div:first-child, #timeline .bottom > div > div:first-child {
  color: #02FFCF;
}
#timeline .circles > div {
  position: relative;
  display: flex;
  justify-content: center;
}
#timeline .circles > div:before, #timeline .circles > div:after {
  position: absolute;
  top: 50%;
  z-index: -1;
  width: 50%;
  height: 2px;
  content: "";
  background: #00342A;
  transform: translateY(-50%);
}
#timeline .circles > div:before {
  left: 0;
}
#timeline .circles > div:after {
  right: 0;
}
#timeline .circles > div.active:before, #timeline .circles > div.active:after {
  background: #02FFCF;
}
#timeline .circles > div.active .circle {
  border: 2px solid #02FFCF;
  background: #004C3E;
}
#timeline .circles .circle {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #00342A;
  border-radius: 50%;
  background: #001915;
}

#blockdag .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding-bottom: 2.5rem;
  border-bottom: 2px solid #fff;
}
#blockdag h2 {
  margin: 0;
}
#blockdag ul.content {
  display: flex;
  margin-top: 4rem;
  flex-wrap: wrap;
}
#blockdag ul.content li.item {
  display: flex;
  margin: 0 1.5rem 3rem 1.5rem;
  padding-bottom: 3rem;
  width: calc(50% - 3rem);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
#blockdag ul.content li.item:nth-last-child(1), #blockdag ul.content li.item:nth-last-child(2) {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
#blockdag ul.content .number {
  margin-right: 1rem;
  width: 3rem;
  color: #02FFCF;
}
#blockdag ul.content .text {
  max-width: calc(100% - 4rem);
}

#client_protocol_container {
  position: relative;
}
#client_protocol_container::before {
  position: absolute;
  top: -100%;
  right: -50%;
  width: 80.5708333333vw;
  height: 1042.44px;
  content: "";
  border-radius: 50%;
  background: rgba(0, 170, 150, 0.2);
  filter: blur(300px);
  transform: rotate(42.19deg);
}

#client_protocol > div {
  text-align: justify;
}
#client_protocol .bgtl {
  top: -59.3471810089%;
  left: -31.25%;
  width: 75.234375%;
  height: 116.6172106825%;
  filter: blur(165px);
  background: rgba(2, 255, 207, 0.2);
  transform: rotate(122.43deg);
}
#client_protocol .bgbr {
  top: 29.821958457%;
  left: 64.53125%;
  width: 42.8125%;
  height: 81.3056379822%;
  background: rgba(2, 255, 207, 0.6);
  filter: blur(225px);
}

#socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
#socials > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#socials > div > div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
#socials > div > div + div {
  margin-top: 1rem;
}
#socials a {
  font-size: 2rem;
  text-transform: uppercase;
}

footer {
  position: relative;
  padding: 15rem 28rem;
  font-size: 1.5rem;
  background: black;
  border-top: 1px solid #02FFCF;
  background: rgba(0, 0, 0, 0.08);
  -webkit-backdrop-filter: blur(22px);
          backdrop-filter: blur(22px);
}
footer::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: "";
  background: url("/assets/CircuitBas.svg");
  background-position: 0rem -94.5rem;
  background-repeat: no-repeat;
  filter: blur(12px);
}
footer img {
  width: 230px;
}
footer > div:first-child {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
footer > div:first-child > div:last-child {
  flex: 1;
  max-width: 50%;
}
footer p {
  margin-top: 4rem;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
}
footer .bottom-menu > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  text-align: center;
  flex-wrap: wrap;
}
footer .copyright {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  font-size: 1.5rem;
  opacity: 0.5;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  #noise_effect {
    opacity: 7% !important;
  }
  header .bgl {
    background: rgba(0, 139, 170, 0.2) !important;
  }
  header .bgc {
    top: 13.2222222222vh !important;
    left: 70.625vh !important;
    width: 42.109375vw !important;
    height: 89.8333333333vh !important;
    opacity: 0.5;
  }
  header .bgbr {
    top: 13.9vh !important;
    left: 58.734375vw !important;
    width: 86.171875vw !important;
    height: 220.6vh !important;
    opacity: 0.8;
  }
  header .bgt {
    top: -29.5vh !important;
    left: 9.0625vw !important;
    width: 136.875vw !important;
    height: 65.8888888889vh !important;
    opacity: 0.8;
  }
}
main {
  padding: 10% 20%;
}

@media screen and (max-width: 1920px) {
  main {
    padding: 10% 16.6%;
  }
  nav {
    margin-right: 16.6%;
    margin-left: 16.6%;
  }
}
@media screen and (max-width: 1600px) {
  main {
    padding: 7% 10%;
  }
  nav {
    margin-right: 10%;
    margin-left: 10%;
  }
  body {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 1100px) {
  main {
    padding: 4rem 8%;
  }
  nav {
    margin-right: 8%;
    margin-left: 8%;
  }
  body {
    font-size: 1.6rem;
  }
  #resume {
    width: 75%;
  }
}
@media screen and (max-width: 900px) {
  main {
    padding: 2rem 4rem;
  }
  nav {
    margin-right: 4rem;
    margin-left: 4rem;
  }
  body {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 748px) {
  nav ul {
    justify-content: space-between;
    gap: 0;
  }
  nav ul li:first-child, nav ul li:last-child {
    flex: 0;
  }
  #resume {
    width: 90%;
  }
  #resume p {
    margin-right: 0;
    margin-left: 0;
  }
  #resume h1 {
    font-size: 8rem;
  }
  main::before {
    background-size: 100% 100%;
    background-position: 100% -263rem;
  }
  main::after {
    background-size: 100% 100%;
    background-position: 0 42rem;
  }
  section {
    margin-bottom: 19.6rem !important;
  }
  #objectives > div {
    flex-direction: column;
  }
  #timeline {
    max-width: 100%;
    overflow-x: scroll;
  }
  #timeline .top > div, #timeline .circles > div, #timeline .bottom > div {
    min-width: 28%;
  }
  #network, #client_protocol {
    flex-direction: column;
    gap: 4rem;
    padding: 5rem;
  }
  #network h2, #client_protocol h2 {
    margin: 0;
    width: 100%;
    font-size: 4rem;
    text-align: center;
  }
  #network ul {
    text-align: center;
  }
  #client_protocol {
    padding: 3rem;
  }
  #blockdag .title {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  #blockdag .title span {
    text-align: justify;
  }
  #blockdag ul.content li.item {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    width: 100%;
  }
  #blockdag ul.content li.item:nth-last-child(2) {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }
  #socials {
    flex-direction: column;
  }
  #socials > div {
    width: 100%;
  }
  #socials a {
    font-size: 1.6rem;
  }
  #bottom_logo {
    margin-bottom: 4rem;
    font-size: 2rem;
  }
  #bottom_logo img {
    width: 20px;
    height: 20px;
  }
  footer {
    padding: 4rem;
  }
  footer::before {
    background-position: 0rem -26rem;
    background-size: 100% 100%;
  }
  footer > div:first-child {
    flex-direction: column;
  }
  footer > div:first-child > div:last-child {
    max-width: 100%;
  }
  footer p {
    text-align: justify;
  }
  footer .copyright {
    flex-direction: column;
    gap: 1rem;
  }
}
@media screen and (max-width: 600px) {
  nav {
    margin: 0;
    padding: 1rem;
    border-width: 1px;
  }
  nav ul li a {
    font-size: 1.4rem;
  }
  #logo a div {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  nav ul li a {
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=style.css.map */