$ascent-color: #02FFCF;
$dark-ascent-color: #00342A;
$white: #fff;
$spacing-medium: 1.4rem;
$spacing-body: 28rem;
$bold: 700;

@font-face {
  font-family: "Helios Bold";
  src: url("/assets/HelioxExtC_Bold.otf");
}

* {
  font-family: "Jura", sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // = 10px
  scroll-behavior: smooth;
  background: #000;
}

body {
  position: relative;
  font-size: 2rem;
  font-family: "Jura", sans-serif;
  color: $white;
}

section:not(:last-child) {
  margin-bottom: $spacing-body;
}

#noise_effect {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: black;
  background-image: url("/assets/Noise.png");
  opacity: 3%;
}

ul {
  margin: 0;
  padding: 0;
  &.list {
    margin: 2rem 0 0 1rem;
    list-style: "- ";
    li + li {
      margin-top: 1rem;
    }
  }
}

a {
  color: white;
  text-decoration: none;
  &:hover {
    color: $ascent-color;
    cursor: pointer;
  }
}

.bg {
  position: absolute;
  z-index: -1;
  border-radius: 50%;  // Most background colors are ellipse

  &.bgbd {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    background: rgba(0, 0, 0, 1);
  }

  &.bgf {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;

    background: rgba(0, 0, 0, 0.4);
  }
}

header {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
  .bg {
    &.bgl {
      top: calc(-310px / 900px) * 100vh;
      left: calc(-235px / 1920px) * 100vw;
      width: calc(1521px / 1920px) * 100vw;
      height: calc(1521px / 900px) * 100vh;
      background: rgba(0, 139, 170, 0.14);
    }
    &.bgc {
      top: calc(238px / 900px) * 100vh;
      left: calc(904px / 1920px) * 100vw;
      width: calc(539px / 1920px) * 100vw;
      height: calc(539px / 900px) * 100vh;

      background: #00AA81;
      filter: blur(calc(245px / 1920px) * 100vw);
    }
    &.bgt {
      top: calc(-177px / 900px) * 100vh;
      left: calc(348px / 1920px) * 100vw;
      width: calc(1752px / 1920px) * 100vw;
      height: calc(593px / 900px) * 100vh;
      background: rgba(0, 170, 150, 0.8);
      filter: blur(calc(245px / 1920px) * 100vw);
    }
    &.bgbr {
      top: calc(417px / 900px) * 100vh;
      left: calc(1253px / 1920px) * 100vw;
      width: calc(1103px / 1920px) * 100vw;
      height: calc(1103px / 900px) * 100vh;

      background: rgba(5, 124, 132, 0.7);
      filter: blur(calc(230px / 1920px) * 100vw);
    }
  }
}

nav {
  margin: 2rem $spacing-body 0 $spacing-body;
  padding-bottom: $spacing-medium;
  border-bottom: 2px solid rgba(255, 255, 255, 0.23);
  ul {
    display: flex;
    gap: 4rem;
    list-style: none;

    li a {
      display: inline-block;
      font-size: 1.6rem;
      font-weight: $bold;
      color: $white;
    }
    li:first-child, li:last-child {
      flex: 1;
    }
    li:first-child {
      text-align: left;
    }
    li:last-child {
      text-align: right;
    }
  }
}

#resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $spacing-body calc($spacing-body * 1.33);
  h1 {
    margin: 0;
    font-size: 10rem;
    font-family: "Helios Bold";
  }
  p {
    margin: 2.2rem 10% 0 10%;
    text-align: center;
  }
}

#github {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  padding: 1rem 4.5rem;
  font-size: 1.5rem;
  font-family: "Helios Bold";
  color: $white;
  border-radius: 50px;
  background: black;
  img {
    margin-right: 0.5rem;
  }
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  &::before, &::after {
    position: absolute;
    z-index: -2;
    width: 100%;
    content: "";
    background-repeat: no-repeat;
  }
  &::before {
    top: 0;
    right: 0;
    height: 100%;
    background-image: url("/assets/CircuitHaut.svg");
    background-position: 100% -110rem;
  }
  &::after {
    bottom: -5.5rem;
    left: 0;
    height: 100rem;
    background-image: url("/assets/CircuitBas.svg");
  }
}

h2 {
  font-size: 5rem;
  font-family: "Helios Bold";
}

#objectives {
  h2 {
    padding-bottom: 2.5rem;
    width: 100%;
    border-bottom: 2px solid $white;
  }
  > div {
    display: flex;
    gap: 6rem;
    > div {
      flex: 1;
    }
    ol li + li {
      margin-top: 1rem;
    }
  }
}

h3 {
  font-family: "Helios Bold";
  color: $ascent-color;
  text-transform: uppercase;
}

#network, #client_protocol {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  padding: 11rem;

  h2 {
    width: 30%;
  }
  .angle {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid $ascent-color;
    &.tl {
      top: 0;
      left: 0;
      border-right: 0;
      border-bottom: 0;
    }
    &.tr {
      top: 0;
      right: 0;
      border-left: 0;
      border-bottom: 0;
    }
    &.bl {
      bottom: 0;
      left: 0;
      border-top: 0;
      border-right: 0;
    }
    &.br {
      right: 0;
      bottom: 0;
      border-top: 0;
      border-left: 0;
    }
  }
}

#network_container {
  position: relative;
  &::before {
    position: absolute;
    top: -25%;
    left: -10%;
    width: calc(1231.23px / 1920px) * 100vw;
    height: 724.17px;
    content: "";
    border-radius: 50%;
    background: rgba(0, 170, 150, 0.2);
    filter: blur(95px);
    transform: rotate(20.59deg);
  }
}

#network {
  .bgbl {
    top: 84px;
    left: -458px;
    width: 815px;
    height: 815px;

    background: rgba(2, 255, 207, 0.6);
    filter: blur(225px);
  }
  .bgtr {
    $network-width: 1280px;
    $network-height: 469px;
    top: calc(-504px / $network-height) * 100%;
    left: calc(201.19px / $network-width) * 100%;
    width: calc(1696px / $network-width) * 100%;
    height: calc(685.4px / $network-height) * 100%;

    background: rgba(2, 255, 207, 0.1);
    filter: blur(165px);
    transform: rotate(29.74deg);
  }
  ul {
    list-style: none;
    li + li {
      margin-top: 1rem;
    }
  }
  li span {
    color: $ascent-color;
  }
}

#roadmap {
  h2 {
    text-align: center;
  }
}

#timeline {
  .top, .circles, .bottom {
    display: flex;
    > div {
      flex: 1;
      padding: 1rem;
      text-align: center;
    }
  }

  .top, .bottom {
    font-size: 1.5rem;
    > div > div:first-child {
      color: $ascent-color;
    }
  }

  .circles {
    > div {
      position: relative;
      display: flex;
      justify-content: center;
      &:before, &:after {
        position: absolute;
        top: 50%;
        z-index: -1;
        width: 50%;
        height: 2px;
        content: "";
        background: $dark-ascent-color;
        transform: translateY(-50%);
      }
      &:before {
        left: 0;
      }
      &:after {
        right: 0;
      }
      &.active {
        &:before, &:after {
          background: $ascent-color;
        }
        .circle {
          border: 2px solid $ascent-color;
          background: #004C3E;
        }
      }
    }

    .circle {
      position: relative;
      width: 20px;
      height: 20px;
      border: 2px solid $dark-ascent-color;
      border-radius: 50%;
      background: #001915;
    }
  }
}

#blockdag {
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    padding-bottom: 2.5rem;
    border-bottom: 2px solid $white;
  }
  h2 {
    margin: 0;
  }
  ul.content {
    display: flex;
    margin-top: 4rem;
    flex-wrap: wrap;
    li.item {
      display: flex;
      margin: 0 1.5rem 3rem 1.5rem;
      padding-bottom: 3rem;
      width: calc(50% - 3rem);
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      &:nth-last-child(1), &:nth-last-child(2) {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
      }
    }
    .number {
      margin-right: 1rem;
      width: 3rem;
      color: $ascent-color;
    }
    .text {
      max-width: calc(100% - 4rem);
    }
  }
}

#client_protocol_container {
  position: relative;
  &::before {
    position: absolute;
    top: -100%;
    right: -50%;
    width: calc(1546.96px / 1920px) * 100vw;
    height: 1042.44px;
    content: "";
    border-radius: 50%;
    background: rgba(0, 170, 150, 0.2);
    filter: blur(300px);
    transform: rotate(42.19deg);
  }
}

#client_protocol {
  $client-width: 1280px;
  $client-height: 674px;
  .bgtl {
    top: calc(-400px / $client-height) * 100%;
    left: calc(-400px / $client-width) * 100%;
    width: calc(963px / $client-width) * 100%;
    height: calc(786px / $client-height) * 100%;
    filter: blur(165px);
    background: rgba(2, 255, 207, 0.2);
    transform: rotate(122.43deg);
  }
  .bgbr {
    top: calc(201px / $client-height) * 100%;
    left: calc(826px / $client-width) * 100%;
    width: calc(548px / $client-width) * 100%;
    height: calc(548px / $client-height) * 100%;
    background: rgba(2, 255, 207, 0.6);
    filter: blur(225px);
  }
}

#socials { // TODO: review
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > div {
      display: flex;
      justify-content: space-around;
      width: 100%;
      + div {
        margin-top: 1rem;
      }
    }
  }
  a {
    font-size: 2rem;
    text-transform: uppercase;
  }
}

footer {
  position: relative;
  padding: 15rem $spacing-body;
  font-size: 1.5rem;
  background: black;
  border-top: 1px solid #02FFCF;

  background: rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(22px);

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
    background: url("/assets/CircuitBas.svg");
    background-position: 0rem -94.5rem;
    background-repeat: no-repeat;
    filter: blur(12px);
  }

  img {
    width: 230px;
  }

  > div:first-child {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    > div:last-child {
      flex: 1;
      max-width: 50%;
    }
  }

  p {
    margin-top: 4rem;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.5);
  }

  .bottom-menu {
    > div {
      margin-bottom: 2rem;
    }
    a + a {
      margin-left: 3rem;
    }
  }

  .copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    font-size: 1.5rem;
    opacity: 0.5;
  }
}

// Blurs are strange on retina screen
// Numbers are "random" but the result is pretty great on my macbook pro 2019
@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  #noise_effect {
    opacity: 7% !important;
  }
  header {
    .bgl {
      background: rgba(0, 139, 170, 0.2) !important;
    }
    .bgc {
      top: calc(238px / 900px) * 50vh !important;
      left: calc(904px / 1920px) * 150vh !important;
      width: calc(539px / 1920px) * 150vw !important;
      height: calc(539px / 900px) * 150vh !important;
      opacity: 0.5;
    }

    .bgbr {
      top: calc(417px / 900px) * 30vh !important;
      left: calc(1253px / 1920px) * 90vw !important;
      width: calc(1103px / 1920px) * 150vw !important;
      height: calc(1103px / 900px) * 180vh !important;
      opacity: 0.8;
    }

    .bgt {
      top: calc(-177px / 900px) * 150vh !important;
      left: calc(348px / 1920px) * 50vw !important;
      width: calc(1752px / 1920px) * 150vw !important;
      height: calc(593px / 900px) * 100vh !important;
      opacity: 0.8;
    }
  }
}

// Responsive isn't on the figma sketch, there is a try:
main {
  padding: 10% 20%;
}

@media screen and (max-width: 1920px) {
  main {
    padding: 10% 16.6%;
  }
}
@media screen and (max-width: 1600px) {
  main {
    padding: 7% 10%;
  }
  body {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 1100px) {
  main {
    padding: 4rem 8%;
  }
  body {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 900px) {
  main {
    padding: 2rem 4rem;
  }
  body {
    font-size: 1.4rem;
  }
}