$ascent-color: #02FFCF;
$dark-ascent-color: #00342A;
$white: #fff;
$spacing-medium: 1.4rem;
$spacing-body: 28rem;
$bold: 700;

@font-face {
  font-family: "Helios";
  src: url("/assets/HeliosExtC_Regular.otf");
}
@font-face {
  font-family: "Helios Bold";
  src: url("/assets/HeliosExtC_Bold.otf");
}

* {
  font-family: "Jura", sans-serif;
  box-sizing: border-box;
}

html {
  background: #000;
  font-size: 62.5%; // = 10px
}

body {
  font-family: "Jura", sans-serif;
  font-size: 2rem;
  color: $white;
}

html, body { // For safari
  position: relative;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section:not(:last-child) {
  margin-bottom: $spacing-body;
}

#noise_effect {
  position: fixed;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  z-index: 2;
  opacity: 3%;
  width: 200%;
  height: 200vh;
  background: black;
  background-image: url("/assets/Noise.png");
  animation: bg-animation 0.2s infinite;
  pointer-events: none;
}
@keyframes bg-animation {
  0% {
      transform: translate(0,0)
  }

  10% {
      transform: translate(-5%,-5%)
  }

  20% {
      transform: translate(-10%,5%)
  }

  30% {
      transform: translate(5%,-10%)
  }

  40% {
      transform: translate(-5%,15%)
  }

  50% {
      transform: translate(-10%,5%)
  }

  60% {
      transform: translate(15%,0)
  }

  70% {
      transform: translate(0,10%)
  }

  80% {
      transform: translate(-15%,0)
  }

  90% {
      transform: translate(10%,5%)
  }

  100% {
      transform: translate(5%,0)
  }
}

#logo a, #bottom_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  > div {
    margin-bottom: -4px;
    margin-left: 0.5rem;
    font-family: "Helios";
  }
  img {
    width: 22px;
    height: 22px;
  }
}

#bottom_logo {
  font-size: 5rem;
  img {
    width: 50px;
    height: 50px;
  }
}

ol {
  padding: 0 1.5rem;
}

ul {
  margin: 0;
  padding: 0;
  &.list {
    margin: 2rem 0 0 1rem;
    list-style: "- ";
    li + li {
      margin-top: 1rem;
    }
  }
}

a {
  text-decoration: none;
  color: white;
  &:hover {
    color: $ascent-color;
    cursor: pointer;
  }
}

.bg {
  position: absolute;
  z-index: -1;
  border-radius: 50%;  // Most background colors are ellipse

  &.bgbd {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
    border-radius: 0;
  }

  &.bgf {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.4);
    border-radius: 0;
  }
}

header {
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: black;
  .bg {
    &.bgl {
      top: calc(-310px / 900px) * 100vh;
      left: calc(-235px / 1920px) * 100vw;
      width: calc(1521px / 1920px) * 100vw;
      height: calc(1521px / 900px) * 100vh;
      background: rgba(0, 139, 170, 0.14);
    }
    &.bgc {
      top: calc(238px / 900px) * 100vh;
      left: calc(904px / 1920px) * 100vw;
      width: calc(539px / 1920px) * 100vw;
      height: calc(539px / 900px) * 100vh;

      background: #00AA81;
      filter: blur(calc(245px / 1920px) * 100vw);
    }
    &.bgt {
      top: calc(-177px / 900px) * 100vh;
      left: calc(348px / 1920px) * 100vw;
      width: calc(1752px / 1920px) * 100vw;
      height: calc(593px / 900px) * 100vh;
      background: rgba(0, 170, 150, 0.8);
      filter: blur(calc(245px / 1920px) * 100vw);
    }
    &.bgbr {
      top: calc(417px / 900px) * 100vh;
      left: calc(1253px / 1920px) * 100vw;
      width: calc(1103px / 1920px) * 100vw;
      height: calc(1103px / 900px) * 100vh;

      background: rgba(5, 124, 132, 0.7);
      filter: blur(calc(230px / 1920px) * 100vw);
    }
  }
}

nav {
  margin: 2rem $spacing-body 0 $spacing-body;
  padding-bottom: 2.2rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.23);
  ul {
    display: flex;
    gap: 4rem;
    list-style: none;
    li {
      display: flex;
      align-items: center;
    }
    li a {
      display: inline-block;
      font-size: 1.6rem;
      font-weight: $bold;
      color: $white;
    }
    li:first-child, li:nth-child(5) {
      flex: 1;
    }
    li:first-child {
      text-align: left;
    }
    li:last-child {
      justify-content: flex-end;
    }
  }
}

#resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 50%;
  h1 {
    margin: 0;
    font-family: "Helios Bold";
    font-size: 10rem;
  }
  p {
    margin: 2.2rem 10% 0 10%;
    text-align: center;
  }
}

#github {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 4.5rem;
  background: black;
  font-size: 1.5rem;
  margin-top: 3rem;
  color: $white;
  border-radius: 50px;
  span {
    margin-bottom: -3px; // This font has a strange position in line, not centered
    font-family: "Helios Bold";
  }
  img {
    margin-right: 0.5rem;
  }
}

/* ========== animation ========= */
@keyframes fade-in {
  100% { opacity: 1; }
}
.fade {
  opacity:0;
  &.active {
    animation: fade-in 1s forwards;
    &:nth-child(1){animation-delay: 0;}
    &:nth-child(2){animation-delay: 0.25s;}
    &:nth-child(3){animation-delay: 0.5s;}
    &:nth-child(4){animation-delay: 0.75s;}
    &:nth-child(5){animation-delay: 1s;}
    &:nth-child(6){animation-delay: 1.25s;}
  }
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  svg.top {
    position: absolute;
    top: -100rem;
    right: -16rem;
    z-index: -1;
    width: 100%;
    @keyframes dash {
      from {
        stroke-dashoffset: var(--path-length);
      }
      to {
        stroke-dashoffset: 0;
      }
    }
    path {
      display: none;
      &.animated {
        display: initial;
        animation: dash 2s linear;
        stroke-dasharray: var(--path-length);
        stroke-dashoffset: 0;
        &.sub {
          animation: dash 1s linear;
        }
      }
    }
  }
  &::after {
    content: "";
    position: absolute;
    z-index: -2;
    width: 100%;
    background-repeat: no-repeat;
  }

  &::after {
    bottom: -5.5rem;
    left: 0;
    height: 100rem;
    background-image: url("/assets/CircuitBas.svg");
  }
}

h2 {
  font-family: "Helios Bold";
  font-size: 5rem;
}

#objectives {
  h2 {
    padding-bottom: 2.5rem;
    width: 100%;
    border-bottom: 2px solid $white;
  }
  > div {
    display: flex;
    gap: 6rem;
    > div {
      flex: 1;
    }
    ol li + li {
      margin-top: 1rem;
    }
  }
}

h3 {
  font-family: "Helios Bold";
  text-transform: uppercase;
  color: $ascent-color;
}

#network, #client_protocol {
  position: relative;
  z-index: 10;
  overflow: hidden;
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  padding: 11rem;

  h2 {
    width: 30%;
  }
  .angle {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid $ascent-color;
    &.tl {
      top: 0;
      left: 0;
      border-right: 0;
      border-bottom: 0;
    }
    &.tr {
      top: 0;
      right: 0;
      border-left: 0;
      border-bottom: 0;
    }
    &.bl {
      bottom: 0;
      left: 0;
      border-top: 0;
      border-right: 0;
    }
    &.br {
      right: 0;
      bottom: 0;
      border-top: 0;
      border-left: 0;
    }
  }
}

#network_container {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: -25%;
    left: -10%;
    z-index: -1;
    width: calc(1231.23px / 1920px) * 100vw;
    height: 724.17px;
    background: rgba(0, 170, 150, 0.2);
    transform: rotate(20.59deg);
    filter: blur(95px);
    border-radius: 50%;
  }
}

#network {
  .bgbl {
    top: 84px;
    left: -458px;
    width: 815px;
    height: 815px;

    background: rgba(2, 255, 207, 0.6);
    filter: blur(225px);
  }
  .bgtr {
    $network-width: 1280px;
    $network-height: 469px;
    top: calc(-504px / $network-height) * 100%;
    left: calc(201.19px / $network-width) * 100%;
    width: calc(1696px / $network-width) * 100%;
    height: calc(685.4px / $network-height) * 100%;

    background: rgba(2, 255, 207, 0.1);
    transform: rotate(29.74deg);
    filter: blur(165px);
  }
  ul {
    list-style: none;
    li + li {
      margin-top: 1rem;
    }
  }
  li span {
    color: $ascent-color;
  }
}

#roadmap {
  h2 {
    text-align: center;
  }
}

#timeline {
  display: flex;
  > div {
    display: flex;
    flex-direction: column;
    flex: 1;
    > div {
      text-align: center;
    }
    .top { height: 6rem; }
    .bottom { height: 10rem; }
    .top > :first-child, .bottom > :first-child {
      color: $ascent-color;
    }
    .circle {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3rem;
      > div {
        position: relative;
        width: 20px;
        height: 20px;
        background: #001915;
        border: 2px solid $dark-ascent-color;
        border-radius: 50%;
      }
      &:before, &:after {
        content: "";
        position: absolute;
        top: 50%;
        z-index: -1;
        width: 50%;
        height: 2px;
        background: $dark-ascent-color;
        transform: translateY(-50%);
      }
      &:before {
        left: 0;
      }
      &:after {
        right: 0;
      }
    }
    &.done {
      .circle:before, .circle:after {
        background: $ascent-color;
      }
      .circle > div {
        background: #004C3E;
        border: 2px solid $ascent-color;
      }
    }
  }
}

#blockdag {
  .title {
    display: flex;
    gap: 4rem;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2.5rem;
    border-bottom: 2px solid $white;
    span {
      font-size: 2rem;
      font-weight: bold;
    }
  }
  h2 {
    margin: 0;
  }
  ul.content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    column-gap: 4rem;
    li.item {
      display: flex;
      margin-bottom: 3rem;
      padding-bottom: 3rem;
      width: calc(50% - 2rem);
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      &:nth-last-child(1), &:nth-last-child(2) {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
      }
    }
    .number {
      margin-right: 1rem;
      width: 3rem;
      color: $ascent-color;
    }
    .text {
      max-width: calc(100% - 4rem);
    }
  }
}

#client_protocol_container {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: -100%;
    right: -50%;
    z-index: -1;
    width: calc(1546.96px / 1920px) * 100vw;
    height: 1042.44px;
    background: rgba(0, 170, 150, 0.2);
    transform: rotate(42.19deg);
    filter: blur(300px);
    border-radius: 50%;
  }
}

#client_protocol {
  $client-width: 1280px;
  $client-height: 674px;
  .bgtl {
    top: calc(-400px / $client-height) * 100%;
    left: calc(-400px / $client-width) * 100%;
    width: calc(963px / $client-width) * 100%;
    height: calc(786px / $client-height) * 100%;
    background: rgba(2, 255, 207, 0.2);
    transform: rotate(122.43deg);
    filter: blur(165px);
  }
  .bgbr {
    top: calc(201px / $client-height) * 100%;
    left: calc(826px / $client-width) * 100%;
    width: calc(548px / $client-width) * 100%;
    height: calc(548px / $client-height) * 100%;
    background: rgba(2, 255, 207, 0.6);
    filter: blur(225px);
  }
}

#socials { // TODO: review
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    > div {
      display: flex;
      justify-content: space-around;
      width: 100%;
      + div {
        margin-top: 1rem;
      }
    }
  }
  a {
    font-size: 2rem;
    text-transform: uppercase;
  }
}

footer {
  position: relative;
  padding: 15rem $spacing-body;
  background: black;

  background: rgba(0, 0, 0, 0.08);
  font-size: 1.5rem;
  border-top: 1px solid #02FFCF;
  backdrop-filter: blur(22px);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url("/assets/CircuitBas.svg");
    background-position: 0rem -94.5rem;
    background-repeat: no-repeat;
    filter: blur(12px);
  }

  img {
    width: 230px;
  }

  > div:first-child {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    > div:last-child {
      flex: 1;
      max-width: 50%;
    }
  }

  p {
    font-size: 1.5rem;
    margin-top: 4rem;
    color: rgba(255, 255, 255, 0.5);
  }

  .bottom-menu {
    > div {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-bottom: 2rem;
      text-align: left;
      &:first-child {
        margin-bottom: 2.5rem;
      }
      a {
        width: 25%;
      }
    }
  }

  .copyright {
    display: flex;
    justify-content: space-between;
    opacity: 0.5;
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}

// ============ MENU =======

#burger_menu {
  display: none;
}

#burger_menu button {
  position: relative;
  width: 3rem;
  height: 0.8rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

#burger_menu button:before,
#burger_menu button:after {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  height: 1px;
  background-color: white;
  transition: transform 0.3s ease-out;
}

#burger_menu button:before {
  top: 0;
  width: 2.3rem;
}

#burger_menu button:after {
  bottom: 0;
  width: 3.2rem;
}

.menu-open {
  main, footer {
    display: none;
  }
  #mobile_menu {
    top: 50%;
    left: 50%;
    display: flex;
    visibility: visible;
    opacity: 1;
  }
  header .bg.bgl {
    background-image: url("/assets/menu.png") !important;
  }
  #burger_menu button:before {
    width: 2.3rem;
    transform: translateY(4px) translateX(0px) rotate(45deg);
  }

  #burger_menu button:after {
    width: 2.3rem;
    transform: translateY(-3px) translateX(0px) rotate(-45deg);
  }
  #resume {
    display: none;
  }
}

#mobile_menu {
  position: absolute;
  top: -50%;
  left: -50%;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: visibility 0s, opacity 0.5s linear;
  ul {
    list-style: none;
    li {
      font-size: 3rem;
      text-align: center;
      & + li {
        margin-top: 1.5rem;
      }
    }
  }
}

// ==============

// Blurs are strange on retina screen
// Numbers are "random" but the result is pretty great on my macbook pro 2019
@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  #noise_effect {
    opacity: 5% !important;
  }
  header {
    .bgl {
      background: rgba(0, 139, 170, 0.2) !important;
    }
    .bgc {
      top: calc(238px / 900px) * 50vh !important;
      left: calc(904px / 1920px) * 150vh !important;
      opacity: 0.5;
      width: calc(539px / 1920px) * 150vw !important;
      height: calc(539px / 900px) * 150vh !important;
    }

    .bgbr {
      top: calc(417px / 900px) * 30vh !important;
      left: calc(1253px / 1920px) * 90vw !important;
      opacity: 0.8;
      width: calc(1103px / 1920px) * 150vw !important;
      height: calc(1103px / 900px) * 180vh !important;
    }

    .bgt {
      top: calc(-177px / 900px) * 150vh !important;
      left: calc(348px / 1920px) * 50vw !important;
      opacity: 0.8;
      width: calc(1752px / 1920px) * 150vw !important;
      height: calc(593px / 900px) * 100vh !important;
    }
  }
}

// Responsive isn't on the figma sketch, there is a try:
main {
  padding: 10% 20%;
}

.safari {
  .bgc, .bgt, .bgbr, #network_container::before, .bgbl, .bgtr, .bgf {
    filter: blur(9rem) !important;
  }
  #noise_effect {
    animation: none;
  }
}

@media screen and (max-width: 1920px) {
  main {
    padding: 10% 16.6%;
  }
  nav {
    margin-right: 16.6%;
    margin-left: 16.6%;
  }
}
@media screen and (max-width: 1600px) {
  main {
    padding: 7% 10%;
  }
  nav {
    margin-right: 10%;
    margin-left: 10%;
  }
  body {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 1100px) {
  main {
    padding: 4rem 8%;
  }
  nav {
    margin-right: 8%;
    margin-left: 8%;
  }
  body {
    font-size: 1.6rem;
  }
  #resume {
    width: 75%;
  }
}
@media screen and (max-width: 900px) {
  main {
    padding: 4rem;
  }
  nav {
    margin-right: 4rem;
    margin-left: 4rem;
  }
  body {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 748px) {
  #noise_effect {
    animation: none;
  }

  h2 {
    font-size: 3.5rem;
  }

  header {
    .bg {
      display: none;
      &.bgl {
        top: 0;
        left: 0;
        z-index: -2 !important;
        display: block;
        width: 100vw;
        height: 100vh;
        background-image: url("/assets/main.png") !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        border-radius: 0;
      }
    }
  }

  #logo a {
    font-size: 1.5rem;
  }

  nav {
    margin: 2rem 2rem 0 2rem;
    padding-bottom: 0;
    border-bottom: 0;
    ul {
      li:not(#logo, #burger_menu) {
        display: none;
      }
    }
  }

  #burger_menu {
    display: flex;
  }

  #resume {
    width: 90%;
    p {
      margin-right: 0;
      margin-left: 0;
    }
    h1 {
      font-size: 8rem;
    }
  }
  main {
    svg.top {
      right: 0;
      width: 150%;
      path {
        display: initial;
      }
    }
    &::after {
      background-position: 0 42rem;
      background-size: 130% 100%;
    }
  }
  section {
    margin-bottom: calc($spacing-body * 0.7) !important;
  }
  #objectives {
    > div {
      flex-direction: column;
    }
  }
  #timeline {
    position: relative;
    flex-direction: column;
    > div {
      flex-direction: row;
      align-items: center;
    }
    div.top, div.bottom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
    }
    div .circle {
      margin: 0 4rem;
      height: 10rem;
      &:before, &:after {
        left: 50%;
        z-index: -1;
        width: 2px;
        height: 50%;
        background: #00342A;
        transform: translateX(-50%);
      }
      &:before {
        top: 0;
      }
      &:after {
        bottom: 25%;
      }
    }

    .bgbr {
      right: -25%;
      bottom: -25%;
      width: 100%;
      height: 100%;

      background: rgba(0, 170, 150, 0.2);
      transform: rotate(45deg);
      filter: blur(100px);
    }
  }
  #network, #client_protocol {
    gap: 2rem;
    flex-direction: column;
    padding: 6rem 5rem;
    h2 {
      margin: 0;
      width: 100%;
      text-align: center;
    }
  }
  #network {
    ul {
      text-align: center;
    }
    li span {
      display: block;
    }
  }
  #client_protocol {
    padding: 6rem 4rem;
    .bgtl, .bgbr {
      filter: blur(100px);
    }
  }

  #client_protocol_container {
    &::before {
      top: -50%;
      right: -10%;
      width: 50vw;
      height: 100vw;
      filter: blur(100px);
    }
  }

  #blockdag {
    .title {
      gap: 1rem;
      flex-direction: column;
      align-items: flex-start;
      span {
        font-size: 1.6rem;
      }
    }
    ul.content li.item {
      margin-bottom: 1.5rem;
      padding-bottom: 1.5rem;
      width: 100%;
      &:nth-last-child(2) {
        margin-bottom: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      }
    }
  }
  #socials {
    flex-direction: column;
    > div {
      width: 100%;
    }
    a {
      font-size: 1.6rem;
    }
  }

  #bottom_logo {
    margin-bottom: 4rem;
    font-size: 2rem;
    img {
      width: 20px;
      height: 20px;
    }
  }

  footer {
    &::before {
      background-position: 0rem -26rem;
      background-size: 130% 100%;
    }
    padding: 5rem 4rem;
    > div:first-child {
      flex-direction: column;
      > div:last-child {
        max-width: 100%;
      }
    }

    .bottom-menu {
      > div {
        gap: 1rem;
        flex-direction: row;
        justify-content: center;
        &:last-child {
          flex-direction: row-reverse;
          a {
            width: 41%;
            width: calc(50% - 0.5rem);
            &:nth-child(2n) {
              text-align: right;
            }
          }
        }
        a {
          width: unset;
        }
      }
    }

    p {
      text-align: center;
    }

    .copyright {
      gap: 1rem;
      flex-direction: column;
      text-align: center;
    }
  }

  .safari {
    .bgc, .bgt, .bgbr, #network_container::before, .bgbl, .bgtr, .bgf {
      filter: blur(3rem) !important;
    }
    #network_container .bgbl {
      top: 3.5rem;
      left: -35rem;
      background: rgba(2, 255, 207, 0.4);

      filter: blur(6rem) !important;
    }
    #client_protocol {
      .bgbr {
        left: 55%;
        filter: blur(7.5rem) !important;
      }
      .bgtl {
        top: -60%;
        filter: blur(4rem) !important;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  h2 {
    font-size: 2.5rem;
  }
  nav {
    ul li a {
      font-size: 1.2rem;
    }
  }
}
