@font-face {
  font-family: "Helios";
  src: url("/assets/HeliosExtC_Regular.otf");
}
@font-face {
  font-family: "Helios Bold";
  src: url("/assets/HeliosExtC_Bold.otf");
}
* {
  font-family: "Jura", sans-serif;
  box-sizing: border-box;
}

html {
  background: #000;
  font-size: 62.5%;
}

body {
  font-family: "Jura", sans-serif;
  font-size: 2rem;
  color: #fff;
}

html, body {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section:not(:last-child) {
  margin-bottom: 28rem;
}

#noise_effect {
  position: fixed;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  z-index: 2;
  opacity: 3%;
  width: 200%;
  height: 200vh;
  background: black;
  background-image: url("/assets/Noise.png");
  animation: bg-animation 0.2s infinite;
  pointer-events: none;
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}
#logo a, #bottom_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
#logo a > div, #bottom_logo > div {
  margin-bottom: -4px;
  margin-left: 0.5rem;
  font-family: "Helios";
}
#logo a img, #bottom_logo img {
  width: 22px;
  height: 22px;
}

#bottom_logo {
  font-size: 5rem;
}
#bottom_logo img {
  width: 50px;
  height: 50px;
}

ol {
  padding: 0 1.5rem;
}

ul {
  margin: 0;
  padding: 0;
}
ul.list {
  margin: 2rem 0 0 1rem;
  list-style: "- ";
}
ul.list li + li {
  margin-top: 1rem;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #02FFCF;
  cursor: pointer;
}

.bg {
  position: absolute;
  z-index: -1;
  border-radius: 50%;
}
.bg.bgbd {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  border-radius: 0;
}
.bg.bgf {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 0;
}

header {
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: black;
}
header .bg.bgl {
  top: -34.4444444444vh;
  left: -12.2395833333vw;
  width: 79.21875vw;
  height: 169vh;
  background: rgba(0, 139, 170, 0.14);
}
header .bg.bgc {
  top: 26.4444444444vh;
  left: 47.0833333333vw;
  width: 28.0729166667vw;
  height: 59.8888888889vh;
  background: #00AA81;
  filter: blur(12.7604166667vw);
}
header .bg.bgt {
  top: -19.6666666667vh;
  left: 18.125vw;
  width: 91.25vw;
  height: 65.8888888889vh;
  background: rgba(0, 170, 150, 0.8);
  filter: blur(12.7604166667vw);
}
header .bg.bgbr {
  top: 46.3333333333vh;
  left: 65.2604166667vw;
  width: 57.4479166667vw;
  height: 122.5555555556vh;
  background: rgba(5, 124, 132, 0.7);
  filter: blur(11.9791666667vw);
}

nav {
  margin: 2rem 28rem 0 28rem;
  padding-bottom: 2.2rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.23);
}
nav ul {
  display: flex;
  gap: 4rem;
  list-style: none;
}
nav ul li {
  display: flex;
  align-items: center;
}
nav ul li a {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
}
nav ul li:first-child, nav ul li:nth-child(5) {
  flex: 1;
}
nav ul li:first-child {
  text-align: left;
}
nav ul li:last-child {
  justify-content: flex-end;
}

#resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 50%;
}
#resume h1 {
  margin: 0;
  font-family: "Helios Bold";
  font-size: 10rem;
}
#resume p {
  margin: 2.2rem 10% 0 10%;
  text-align: center;
}

#github {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 4.5rem;
  background: black;
  font-size: 1.5rem;
  margin-top: 3rem;
  color: #fff;
  border-radius: 50px;
}
#github span {
  margin-bottom: -3px;
  font-family: "Helios Bold";
}
#github img {
  margin-right: 0.5rem;
}

/* ========== animation ========= */
@keyframes fade-in {
  100% {
    opacity: 1;
  }
}
.fade {
  opacity: 0;
}
.fade.active {
  animation: fade-in 1s forwards;
}
.fade.active:nth-child(1) {
  animation-delay: 0;
}
.fade.active:nth-child(2) {
  animation-delay: 0.25s;
}
.fade.active:nth-child(3) {
  animation-delay: 0.5s;
}
.fade.active:nth-child(4) {
  animation-delay: 0.75s;
}
.fade.active:nth-child(5) {
  animation-delay: 1s;
}
.fade.active:nth-child(6) {
  animation-delay: 1.25s;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
}
main svg.top {
  position: absolute;
  top: -100rem;
  right: -16rem;
  z-index: -1;
  width: 100%;
}
@keyframes dash {
  from {
    stroke-dashoffset: var(--path-length);
  }
  to {
    stroke-dashoffset: 0;
  }
}
main svg.top path {
  display: none;
}
main svg.top path.animated {
  display: initial;
  animation: dash 2s linear;
  stroke-dasharray: var(--path-length);
  stroke-dashoffset: 0;
}
main svg.top path.animated.sub {
  animation: dash 1s linear;
}
main::after {
  content: "";
  position: absolute;
  z-index: -2;
  width: 100%;
  background-repeat: no-repeat;
}
main::after {
  bottom: -5.5rem;
  left: 0;
  height: 100rem;
  background-image: url("/assets/CircuitBas.svg");
}

h2 {
  font-family: "Helios Bold";
  font-size: 5rem;
}

#objectives h2 {
  padding-bottom: 2.5rem;
  width: 100%;
  border-bottom: 2px solid #fff;
}
#objectives > div {
  display: flex;
  gap: 6rem;
}
#objectives > div > div {
  flex: 1;
}
#objectives > div ol li + li {
  margin-top: 1rem;
}

h3 {
  font-family: "Helios Bold";
  text-transform: uppercase;
  color: #02FFCF;
}

#network, #client_protocol {
  position: relative;
  z-index: 10;
  overflow: hidden;
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  padding: 11rem;
}
#network h2, #client_protocol h2 {
  width: 30%;
}
#network .angle, #client_protocol .angle {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #02FFCF;
}
#network .angle.tl, #client_protocol .angle.tl {
  top: 0;
  left: 0;
  border-right: 0;
  border-bottom: 0;
}
#network .angle.tr, #client_protocol .angle.tr {
  top: 0;
  right: 0;
  border-left: 0;
  border-bottom: 0;
}
#network .angle.bl, #client_protocol .angle.bl {
  bottom: 0;
  left: 0;
  border-top: 0;
  border-right: 0;
}
#network .angle.br, #client_protocol .angle.br {
  right: 0;
  bottom: 0;
  border-top: 0;
  border-left: 0;
}

#network_container {
  position: relative;
}
#network_container::before {
  content: "";
  position: absolute;
  top: -25%;
  left: -10%;
  z-index: -1;
  width: 64.1265625vw;
  height: 724.17px;
  background: rgba(0, 170, 150, 0.2);
  transform: rotate(20.59deg);
  filter: blur(95px);
  border-radius: 50%;
}

#network .bgbl {
  top: 84px;
  left: -458px;
  width: 815px;
  height: 815px;
  background: rgba(2, 255, 207, 0.6);
  filter: blur(225px);
}
#network .bgtr {
  top: -107.4626865672%;
  left: 15.71796875%;
  width: 132.5%;
  height: 146.1407249467%;
  background: rgba(2, 255, 207, 0.1);
  transform: rotate(29.74deg);
  filter: blur(165px);
}
#network ul {
  list-style: none;
}
#network ul li + li {
  margin-top: 1rem;
}
#network li span {
  color: #02FFCF;
}

#roadmap h2 {
  text-align: center;
}

#timeline {
  display: flex;
}
#timeline > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#timeline > div > div {
  text-align: center;
}
#timeline > div .top {
  height: 6rem;
}
#timeline > div .bottom {
  height: 10rem;
}
#timeline > div .top > :first-child, #timeline > div .bottom > :first-child {
  color: #02FFCF;
}
#timeline > div .circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}
#timeline > div .circle > div {
  position: relative;
  width: 20px;
  height: 20px;
  background: #001915;
  border: 2px solid #00342A;
  border-radius: 50%;
}
#timeline > div .circle:before, #timeline > div .circle:after {
  content: "";
  position: absolute;
  top: 50%;
  z-index: -1;
  width: 50%;
  height: 2px;
  background: #00342A;
  transform: translateY(-50%);
}
#timeline > div .circle:before {
  left: 0;
}
#timeline > div .circle:after {
  right: 0;
}
#timeline > div.done .circle:before, #timeline > div.done .circle:after {
  background: #02FFCF;
}
#timeline > div.done .circle > div {
  background: #004C3E;
  border: 2px solid #02FFCF;
}

#blockdag .title {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2.5rem;
  border-bottom: 2px solid #fff;
}
#blockdag .title span {
  font-size: 2rem;
  font-weight: bold;
}
#blockdag h2 {
  margin: 0;
}
#blockdag ul.content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
}
#blockdag ul.content li.item {
  display: flex;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  width: calc(50% - 2rem);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
#blockdag ul.content li.item:nth-last-child(1), #blockdag ul.content li.item:nth-last-child(2) {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
#blockdag ul.content .number {
  margin-right: 1rem;
  width: 3rem;
  color: #02FFCF;
}
#blockdag ul.content .text {
  max-width: calc(100% - 4rem);
}

#client_protocol_container {
  position: relative;
}
#client_protocol_container::before {
  content: "";
  position: absolute;
  top: -100%;
  right: -50%;
  z-index: -1;
  width: 80.5708333333vw;
  height: 1042.44px;
  background: rgba(0, 170, 150, 0.2);
  transform: rotate(42.19deg);
  filter: blur(300px);
  border-radius: 50%;
}

#client_protocol .bgtl {
  top: -59.3471810089%;
  left: -31.25%;
  width: 75.234375%;
  height: 116.6172106825%;
  background: rgba(2, 255, 207, 0.2);
  transform: rotate(122.43deg);
  filter: blur(165px);
}
#client_protocol .bgbr {
  top: 29.821958457%;
  left: 64.53125%;
  width: 42.8125%;
  height: 81.3056379822%;
  background: rgba(2, 255, 207, 0.6);
  filter: blur(225px);
}

#socials {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
}
#socials > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
#socials > div > div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
#socials > div > div + div {
  margin-top: 1rem;
}
#socials a {
  font-size: 2rem;
  text-transform: uppercase;
}

footer {
  position: relative;
  padding: 15rem 28rem;
  background: black;
  background: rgba(0, 0, 0, 0.08);
  font-size: 1.5rem;
  border-top: 1px solid #02FFCF;
  -webkit-backdrop-filter: blur(22px);
          backdrop-filter: blur(22px);
}
footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url("/assets/CircuitBas.svg");
  background-position: 0rem -94.5rem;
  background-repeat: no-repeat;
  filter: blur(12px);
}
footer img {
  width: 230px;
}
footer > div:first-child {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
footer > div:first-child > div:last-child {
  flex: 1;
  max-width: 50%;
}
footer p {
  font-size: 1.5rem;
  margin-top: 4rem;
  color: rgba(255, 255, 255, 0.5);
}
footer .bottom-menu > div {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  text-align: left;
}
footer .bottom-menu > div:first-child {
  margin-bottom: 2.5rem;
}
footer .bottom-menu > div a {
  width: 25%;
}
footer .copyright {
  display: flex;
  justify-content: space-between;
  opacity: 0.5;
  font-size: 1.5rem;
  margin-top: 2rem;
}

#burger_menu {
  display: none;
}

#burger_menu button {
  position: relative;
  width: 3rem;
  height: 0.8rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

#burger_menu button:before,
#burger_menu button:after {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  height: 1px;
  background-color: white;
  transition: transform 0.3s ease-out;
}

#burger_menu button:before {
  top: 0;
  width: 2.3rem;
}

#burger_menu button:after {
  bottom: 0;
  width: 3.2rem;
}

.menu-open main, .menu-open footer {
  display: none;
}
.menu-open #mobile_menu {
  top: 50%;
  left: 50%;
  display: flex;
  visibility: visible;
  opacity: 1;
}
.menu-open header .bg.bgl {
  background-image: url("/assets/menu.png") !important;
}
.menu-open #burger_menu button:before {
  width: 2.3rem;
  transform: translateY(4px) translateX(0px) rotate(45deg);
}
.menu-open #burger_menu button:after {
  width: 2.3rem;
  transform: translateY(-3px) translateX(0px) rotate(-45deg);
}
.menu-open #resume {
  display: none;
}

#mobile_menu {
  position: absolute;
  top: -50%;
  left: -50%;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: visibility 0s, opacity 0.5s linear;
}
#mobile_menu ul {
  list-style: none;
}
#mobile_menu ul li {
  font-size: 3rem;
  text-align: center;
}
#mobile_menu ul li + li {
  margin-top: 1.5rem;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  #noise_effect {
    opacity: 5% !important;
  }
  header .bgl {
    background: rgba(0, 139, 170, 0.2) !important;
  }
  header .bgc {
    top: 13.2222222222vh !important;
    left: 70.625vh !important;
    opacity: 0.5;
    width: 42.109375vw !important;
    height: 89.8333333333vh !important;
  }
  header .bgbr {
    top: 13.9vh !important;
    left: 58.734375vw !important;
    opacity: 0.8;
    width: 86.171875vw !important;
    height: 220.6vh !important;
  }
  header .bgt {
    top: -29.5vh !important;
    left: 9.0625vw !important;
    opacity: 0.8;
    width: 136.875vw !important;
    height: 65.8888888889vh !important;
  }
}
main {
  padding: 10% 20%;
}

.safari .bgc, .safari .bgt, .safari .bgbr, .safari #network_container::before, .safari .bgbl, .safari .bgtr, .safari .bgf {
  filter: blur(9rem) !important;
}
.safari #noise_effect {
  animation: none;
}

@media screen and (max-width: 1920px) {
  main {
    padding: 10% 16.6%;
  }
  nav {
    margin-right: 16.6%;
    margin-left: 16.6%;
  }
}
@media screen and (max-width: 1600px) {
  main {
    padding: 7% 10%;
  }
  nav {
    margin-right: 10%;
    margin-left: 10%;
  }
  body {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 1100px) {
  main {
    padding: 4rem 8%;
  }
  nav {
    margin-right: 8%;
    margin-left: 8%;
  }
  body {
    font-size: 1.6rem;
  }
  #resume {
    width: 75%;
  }
}
@media screen and (max-width: 900px) {
  main {
    padding: 4rem;
  }
  nav {
    margin-right: 4rem;
    margin-left: 4rem;
  }
  body {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 748px) {
  #noise_effect {
    animation: none;
  }
  h2 {
    font-size: 3.5rem;
  }
  header .bg {
    display: none;
  }
  header .bg.bgl {
    top: 0;
    left: 0;
    z-index: -2 !important;
    display: block;
    width: 100vw;
    height: 100vh;
    background-image: url("/assets/main.png") !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border-radius: 0;
  }
  #logo a {
    font-size: 1.5rem;
  }
  nav {
    margin: 2rem 2rem 0 2rem;
    padding-bottom: 0;
    border-bottom: 0;
  }
  nav ul li:not(#logo, #burger_menu) {
    display: none;
  }
  #burger_menu {
    display: flex;
  }
  #resume {
    width: 90%;
  }
  #resume p {
    margin-right: 0;
    margin-left: 0;
  }
  #resume h1 {
    font-size: 8rem;
  }
  main svg.top {
    right: 0;
    width: 150%;
  }
  main svg.top path {
    display: initial;
  }
  main::after {
    background-position: 0 42rem;
    background-size: 130% 100%;
  }
  section {
    margin-bottom: 19.6rem !important;
  }
  #objectives > div {
    flex-direction: column;
  }
  #timeline {
    position: relative;
    flex-direction: column;
  }
  #timeline > div {
    flex-direction: row;
    align-items: center;
  }
  #timeline div.top, #timeline div.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }
  #timeline div .circle {
    margin: 0 4rem;
    height: 10rem;
  }
  #timeline div .circle:before, #timeline div .circle:after {
    left: 50%;
    z-index: -1;
    width: 2px;
    height: 50%;
    background: #00342A;
    transform: translateX(-50%);
  }
  #timeline div .circle:before {
    top: 0;
  }
  #timeline div .circle:after {
    bottom: 25%;
  }
  #timeline .bgbr {
    right: -25%;
    bottom: -25%;
    width: 100%;
    height: 100%;
    background: rgba(0, 170, 150, 0.2);
    transform: rotate(45deg);
    filter: blur(100px);
  }
  #network, #client_protocol {
    gap: 2rem;
    flex-direction: column;
    padding: 6rem 5rem;
  }
  #network h2, #client_protocol h2 {
    margin: 0;
    width: 100%;
    text-align: center;
  }
  #network ul {
    text-align: center;
  }
  #network li span {
    display: block;
  }
  #client_protocol {
    padding: 6rem 4rem;
  }
  #client_protocol .bgtl, #client_protocol .bgbr {
    filter: blur(100px);
  }
  #client_protocol_container::before {
    top: -50%;
    right: -10%;
    width: 50vw;
    height: 100vw;
    filter: blur(100px);
  }
  #blockdag .title {
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
  }
  #blockdag .title span {
    font-size: 1.6rem;
  }
  #blockdag ul.content li.item {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    width: 100%;
  }
  #blockdag ul.content li.item:nth-last-child(2) {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }
  #socials {
    flex-direction: column;
  }
  #socials > div {
    width: 100%;
  }
  #socials a {
    font-size: 1.6rem;
  }
  #bottom_logo {
    margin-bottom: 4rem;
    font-size: 2rem;
  }
  #bottom_logo img {
    width: 20px;
    height: 20px;
  }
  footer {
    padding: 5rem 4rem;
  }
  footer::before {
    background-position: 0rem -26rem;
    background-size: 130% 100%;
  }
  footer > div:first-child {
    flex-direction: column;
  }
  footer > div:first-child > div:last-child {
    max-width: 100%;
  }
  footer .bottom-menu > div {
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
  }
  footer .bottom-menu > div:last-child {
    flex-direction: row-reverse;
  }
  footer .bottom-menu > div:last-child a {
    width: 41%;
    width: calc(50% - 0.5rem);
  }
  footer .bottom-menu > div:last-child a:nth-child(2n) {
    text-align: right;
  }
  footer .bottom-menu > div a {
    width: unset;
  }
  footer p {
    text-align: center;
  }
  footer .copyright {
    gap: 1rem;
    flex-direction: column;
    text-align: center;
  }
  .safari .bgc, .safari .bgt, .safari .bgbr, .safari #network_container::before, .safari .bgbl, .safari .bgtr, .safari .bgf {
    filter: blur(3rem) !important;
  }
  .safari #network_container .bgbl {
    top: 3.5rem;
    left: -35rem;
    background: rgba(2, 255, 207, 0.4);
    filter: blur(6rem) !important;
  }
  .safari #client_protocol .bgbr {
    left: 55%;
    filter: blur(7.5rem) !important;
  }
  .safari #client_protocol .bgtl {
    top: -60%;
    filter: blur(4rem) !important;
  }
}
@media screen and (max-width: 450px) {
  h2 {
    font-size: 2.5rem;
  }
  nav ul li a {
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=style.css.map */